

.main-home-sub{
  background-color: #3D646E;

}

/*button group*/
button.btn-group{
  border-radius: 15px;
  width: 6rem;
  margin: 10px;
}

i.ibtn{
  font-size: 1.1em;
  color:white;
  
}

h2 {
  margin-top: 100px;
  font-weight: 80;
  font-size: 2em;
  font-family: Oswald,sans-serif;
  
}

h3 {
  margin-top: 50px;
  font-weight: 50;
  font-size: 1em;
  font-family: Oswald,sans-serif;
 
}