.main-home-sub{
  background-color: #3D646E;

}

.submision{
  background-color:#fdfffd;
  border-radius: 7px;
}

h2 {
  margin-top: 100px;
  font-weight: 80;
  font-size: 2em;
  font-family: Oswald,sans-serif;
  
}

h3 {
  margin-top: 50px;
  font-weight: 50;
  font-size: 1em;
  font-family: Oswald,sans-serif;
 
}